@tailwind base;

@tailwind components;

@tailwind utilities;

.global-padding {
  @apply px-6 md:px-10 sm:px-7 lg:px-20;
}

h1,
h2,
h3,
h4 {
  @apply font-semibold;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

.brand {
  font-family: "Courier Prime", monospace;
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1;
}

.burger {
  width: 100%;
}

.burger button {
  position: absolute;
  bottom: -4px;
  right: 0;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  @apply mt-4;
}

.content p {
  @apply mt-2;
}
